/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/dragula/dist/dragula.css";

.grid-tile > figure.mat-figure {
  flex-direction: column !important;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

.mat-grid-list .mat-grid-tile .mat-figure{
      justify-content: flex-start;
}